/* Forgive me father Tematico */

body {
    background-color: #0a0a0a;
    color: #fff9c4; 
    font-family: 'Creepster', serif;
    padding: 40px;
    line-height: 1.8;
}
/* Estilização do título*/
h1 {
    color: #4caf50;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 40px;
    text-shadow: 3px 3px 0px #6a1b9a;
}
/* Estilização do texto*/
p {
    max-width: 900px;
    margin: 30px auto;
    text-align: justify;
    font-size: 1.1rem;
    border-left: 3px solid #6a1b9a; 
    padding-left: 20px;
}

/* Estilização das imagens */
img {
    border: 1px solid #00720f;
    box-shadow: 0 10px 30px rgb(17, 0, 250);
    transition: transform 0.5s ease, border-color 0.5s;
    margin: 0;             
    height: 300px;         
    width: 100%;           
    object-fit: cover;     
    display: block;
}

img:hover {
    transform: scale(1.05);
    border-color: #1f0047; 
}

/* Botão de compra */
.btn-primary {
    display: block;
    width: 250px;
    margin: 50px auto;
    padding: 15px;
    background: #4caf50;
    color: #000;
    border: 2px solid #fff9c4;
    border-radius: 10px; 
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
}

.btn-primary:hover {
    background: #000000;
    color: #006cfa;
    box-shadow: 0 0 20px rgb(37, 0, 173);
    transform: translateY(-3px);
}